<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Random</title>
  </head>
  <body>
    <h1><%= welcome %></h1>
    <ul>
      <% numbers.forEach(function(num) { %>
        <li><%= num %></li>
      <% }); %>
    </ul>
  </body>
</html>